/* -------------------------------------------------------------------------- */
/* F O O T E R                                                                */
/* -------------------------------------------------------------------------- */
.main-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--footer-bg-color);
    color: var(--footer-font-color);
    padding: .4rem;
    .footer-linkedin {
        display: flex;
        align-items: center;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}
/* -------------------------------------------------------------------------- */