/* -------------------------------------------------------------------------- */
/* F O R M U L A R I O S                                                      */
/* -------------------------------------------------------------------------- */
.main-form {
    .form-field {
        .form-label {
            display: block;
            padding: .8rem 0 .4rem 0;
        }
        .form-input, .form-textarea {
            width: 100%;
            font-family: inherit;
            line-height: 1.2rem;
            border: 1px solid #0c0c0c;
            border-radius: .3rem;
            padding: .2rem;

        }
    }
    .form-button-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap: 1rem;
        padding: 1rem 0;
        .form-button {
            padding: .2rem;
            border-radius: .3rem;
            cursor: pointer;
        }
    }
}

/* -------------------------------------------------------------------------- */