/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
html {
    font-size: clamp(14px, 2dvw, 24px);
    line-height: 1.6;
    color: var(--main-font-color);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    background-color: var(--main-bg-color);
}

h1, h2, h3, h4 {
    font-weight: 100;
    color: var(--titles-color);
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
/* -------------------------------------------------------------------------- */
.loader {
    display: block;
    height: 48px; width: 48px;
    border: 5px solid var(--loader-color-1);
    border-bottom-color: var(--loader-color-2);
    border-radius: 50%;
    margin: calc(100dvh / 2 - 24px) auto;
    animation: rotation 750ms linear infinite;
    z-index: 9;
}
/* -------------------------------------------------------------------------- */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
/* -------------------------------------------------------------------------- */
.main-header {
    position: fixed;
    top: 0px; left: 0px;
    height: var(--header-height); width: 100%;
    background-color: var(--main-bg-color);
    .logo-link {
        display: inline-block;
        padding-left: 1rem;
        h2 {
            line-height: var(--header-height);
            font-size: 1.8rem;
            font-weight: 100;
        }
    }
    .main-nav-button {
        display: none;
        &:checked + label:before {
            content: '\2715';
        }
        &:checked ~ .main-nav {
            height: 100dvh;
            background-color: var(--main-bg-color);
            z-index: 9999;
        } 
    }
    .main-nav-button-label {
        display: block;
        height: 100%;
        float: right;
        padding-right: 1rem;
        &:before {
            content: '\2630';
            font-size: 1.8rem;
            color: var(--main-nav-color);
            line-height: var(--header-height);
            cursor: pointer;
        }
        &:hover:before {
            color: var(--common-hover-color);
        }
    }    
    .main-nav {
        display: block;
        height: 0px; width: 100%;
        overflow: hidden;
        transition: 250ms ease;
        ul {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            gap: 1rem;
            padding-top: 2rem;
            li {
                a {
                    font-size: 1.4rem;
                    padding: 2.2rem;
                }
            }
        }
    }
}
/* -------------------------------------------------------------------------- */

.main-content {
    .main-section {
        min-height: 100dvh;
        padding-top: var(--header-height);
        .section-title {
            padding-left: 1rem;
            border-top: 1px solid black;
        }
        .section-content {
            padding: 1rem;
        }
    }
}
/* -------------------------------------------------------------------------- */
.main-footer {

    display: block;
    height: 8rem; width: 100%;
    background-color: var(--footer-bg-color);
    * {
        color: var(--footer-font-color);
    }
}
/* -------------------------------------------------------------------------- */
.contact-form {
    .form-field {
        padding-bottom: 1rem;
        .form-label {
            display: block;
        }
        .form-input, .form-textarea {
            display: block;
            width: 100%;
            border: 1px solid var(--main-font-color);
            border-radius: 6px;
            padding: .8rem;
        }
        .form-textarea {
            resize: vertical;
        }
    }
    .form-button-group {
        display: flex;
        gap: 1rem;
        padding: 1rem;
    }
}
/* -------------------------------------------------------------------------- */
/* Media queries                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 850px)  {
    html {
            font-weight: 100;
    }
    .main-header {
        display: flex;
        .main-nav-button-label {
            display: none;
        }
        .main-nav {
            height: var(--header-height);
            display: inline-block;
            ul {
                flex-flow: row nowrap;
                justify-content: flex-end;
                padding: 0 1rem 0 0;
                li {
                    a {
                       font-size: .8rem;
                       line-height: var(--header-height);
                       text-transform: uppercase;
                       padding: 0px;
                    }
                }
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
