/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
:root {

    --header-height: 3rem;

    --loader-color-1: #76634E;
    --loader-color-2: #C3BBB1;

    --nav-font-color: #2c2c2c;
    --nav-item-bg-color: #EDE6D9;

    --main-font-color: #000;
    --main-bg-color: #F5F7FA;
    --main-font-size: 1.2rem;

    --footer-font-color: #f0f0f0;
    --footer-bg-color: #2c2c2c;

    --download-cv-color: #f0f0f0;
    --download-cv-hv-color: #FFF;
    --download-cv-bg-color: #3D84A8;

    --common-hover-color: #ff4500;
}
/* -------------------------------------------------------------------------- */