/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
:root {

    --loader-color-1: #76634E;
    --loader-color-2: #C3BBB1;

    --header-height: 4rem;
    --main-h-padding: 1rem;

    --nav-font-color: #2c2c2c;
    --nav-item-bg-color: #EDE6D9;

    --main-font-color: #000;
    --main-bg-color: #F7F4F2;

    --footer-font-color: #f0f0f0;
    --footer-bg-color: #2c2c2c;

    --download-cv-bg-color: #EDE6D9;
    --common-hover-color: #ff4500;

}
/* -------------------------------------------------------------------------- */