/* -------------------------------------------------------------------------- */
/* A B O U T   M E   S E C T I O N                                            */
/* -------------------------------------------------------------------------- */
.about-me-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
/* -------------------------------------------------------------------------- */