/* -------------------------------------------------------------------------- */

.main-nav {
    display: block;
    position: fixed;
    top: 0px; left: 0px;
    height: 2rem; width: 100%;
    .main-nav-logo-box {
        height: 100%;
        padding: 4px;
        img {
            height:inherit;
            border-radius: 4px;
        }
    }
    .main-nav-button {
        display: none;
    }
    .main-nav-button-label {
        display:block;
        position: absolute;
        top: 8px; right: 4px;
        cursor: pointer;
    }
    .main-nav-button-label::before {
        content: '\2630';
    }
    .main-nav-button:checked + .main-nav-button-label::before {
        content: '\2715';
    }

    .main-nav-button:checked ~ .main-nav-content {
        height: 100dvh;
    }

    .main-nav-content {
        display: block;
        height: 0px;
        transition: 250ms ease;
        overflow: hidden;
        list-style-type: none;
        li {
            display: block;
            background-color:white;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
            border-radius: 10px 0px 0px 10px;
            margin: 1rem 0px 0px 1rem ;
            padding: 0px 0px 0px 1rem;
            a {
                font-size: 1.4rem;
                line-height: 2.2rem;
                color: #0f0f0f;


            }
        }
    }
}



/* -------------------------------------------------------------------------- */
