/* -------------------------------------------------------------------------- */
.main-header {
    position: fixed;
    height: 2.8rem; width: 100%;
    display: block;
    z-index: 99;
    .logo-box {
        float: left;
        span {
            line-height: 2.8rem;
            padding-left: 0.5rem;
        }
    }
    .main-nav-button {
        display: none;
    }
    .main-nav-button-label {
        position: absolute;
        right: 0px;
        padding-right: 0.5rem;
        line-height: 2.8rem;
        z-index: 999;
        &::before {
            content: '\2630';
            font-size: 1.6rem;
            color: var(--color-e);
            cursor: pointer;
        }
        &:hover {
            color: var(--color-yy);
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
    }
    .main-nav-button:checked ~ .main-nav-button-label::before {
        content: '\2715';
    }
    .main-nav-button:checked ~ .main-nav {
        top: 0px;
    }
 
    .main-nav {
        display: block;
        position: absolute;
        height: 100dvh; width: 100%; top:-100dvh;
        background-color: var(--color-b);
        transition: 250ms ease;
        ul {
            padding: 1.2rem;
            list-style-type: none;
            li {
                a {
                    font-size: 1.2rem;
                    line-height: 3rem;
                    color: var(--color-y);
                    &:hover {
                            color: var(--color-yy);
                    }
                }
                ul {
                    padding: unset;
                    li {
                        padding-left: 1rem;
                        a {
                            font-size: 1rem;
                        }
                    }
                }

            }
        }
    }
}
/* -------------------------------------------------------------------------- */
