/* -------------------------------------------------------------------------- */
/* H O M E   S E C T I O N                                                    */
/* -------------------------------------------------------------------------- */

.home-section {
    display: grid;
    grid-template-rows: 40% 20% 30% 10%;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%; max-width: 100%;
    overflow: hidden;
    .photo-panel {
        height: 100%; width: 100%;
        position: relative;
        .photo-area {
            height: 100%; width: 100%;
            background-image: url(../../images/home/photo.jpg);
            background-size: cover;
            background-position: center;  
            img {
                height: 100%;
                margin: 0px auto 0px auto;
            }            
        }
        .some-data-area {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          width: 100%; 
          bottom: 0.5rem; right: 0.5rem;   
            a {
                display: flex;
                justify-content: space-around;
                height: 100%;
                font-size: 0.8rem;
                line-height: 26px;
                padding: 0.4em;
                border: 1px solid orangered;
                background-color: rgba(255, 255, 255, .5);
                border-radius: 5px;
            }
        }
    }
    .name-panel {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 0.5rem;
        h1, h2 {
            font-family: Poppins;
            font-size: 1.2rem;
            font-weight: 100;
            color: orangered;
        }
        h2 {
            font-size: 1rem;
            color: var(--main-color);
        }
    }
    .text-panel {

    }
    .cv-download-panel {
        text-align: center;
        vertical-align: middle;
        a {
            font-size: 0.8em;
            padding: 0.4rem;
            background-color: var(--download-cv-button-bgcolor);
            color: var(--download-cv-button-color);
            border-radius: 6px;

        }
    }
}

/* -------------------------------------------------------------------------- */