/* -------------------------------------------------------------------------- */
.home-section {
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: space-between;
    .photo-area {
        position: relative;
        .photo-box {

        }
        .some-data-box {
            position: absolute;
            bottom: 0px;
            vertical-align: middle;
            a {
                display: flex;
                align-items: center;
                gap: 0.2rem;
                font-size: 0.6rem;
                color: black;
                margin: auto auto 0.5rem 0.5rem
            }
        }
    }

    .name-area {
        h1 {
            font-size: 1.1rem !important;
            color: orangered;
        }
        h2 {
            font-size: 1.2rem;
        }
    }
    .text-area {
        p {

        }
    }
    .cv-button {
        text-align: center;
        padding: 1rem;
        a {
            background-color: deepskyblue;
            padding: 0.5em;
            border-radius: 6px;
        }
    }
}
/* -------------------------------------------------------------------------- */