/* -------------------------------------------------------------------------- */
.about-me-section {
    height: 100%;

}
/* -------------------------------------------------------------------------- */
/* Media queries 
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    .about-me-section {
        max-width: 800px !important;
        margin: 0 auto !important;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;

    }
}
/* -------------------------------------------------------------------------- */