/* -------------------------------------------------------------------------- */
.about-me-section {
    display: flex !important;
    flex-flow: column;
}
/* -------------------------------------------------------------------------- */
/* Media queries 
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    .about-me-section {
        flex-flow: row;
        .section-title {
            flex: 1 1 20%;
            padding: 0 .8rem !important;
            line-height: normal !important;
        }
        .section-content {
            flex: 1 1 70%;
            line-height: 1em;
            padding: 0;
        }
    }
}
/* -------------------------------------------------------------------------- */