/* -------------------------------------------------------------------------- */
.contact-section {
    .section-content {
        display: flex;
        flex-direction: column;
    }

    input::placeholder,
    textarea::placeholder {
    color: #c0c0c0;
    font-style: italic;
    font-weight: 300;
    opacity: 1;
}
}
/* -------------------------------------------------------------------------- */
/* Media queries                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px)  {
    .contact-section {
        width: 100%;
        .section-content {
            max-width: 800px !important;
            margin: 0 auto;
            .text-panel {
                padding: 1.4em 0;
                p {
                    font-size: 1.2em;;
                }
            }
            .contact-form {
                .form-textarea {
                    height: 10em;
                }
            }
        }
    }
}
/* -------------------------------------------------------------------------- */