/* -------------------------------------------------------------------------- */
.hard-skills-section {
    width: 100%;
    .section-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        .hard-skills-card {
            width: 100%;
            flex-wrap: wrap;
            section-subtitle {

            }
            ul {
                display: flex;
                flex-direction: column;
                padding: .8rem;
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
/* Media queries 
/* -------------------------------------------------------------------------- */

/* Móviles landscape y deskptop */

@media only screen and (min-width: 768px),
    (max-width: 900px) and (orientation: landscape) {
   .hard-skills-section {
        max-width: 800px !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .section-content {
            flex-flow: row wrap;
            justify-items: center;
            gap: 1rem;
            .hard-skills-card {
                width: 45%;
            }
        }
    } 

}
/* -------------------------------------------------------------------------- */