/* -------------------------------------------------------------------------- */
.home-section {
    height: 100%;
    .section-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 20% 20% 10%;
        gap: 0px;
        .deco-box {
            padding: .5rem 0 .5rem 0;
            overflow: hidden;
            img {
                height: 100%; width: auto;
                border: 6px solid #fff;
                margin: 0 auto;
            }
        }
        .title-box {
            h1 {
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        }
        .desc-box {
        }
        .links-box {
            display: flex;
            justify-content: center;
            align-items: center;
            .download-cv {
                padding: .8em;
                font-size: 1.2rem;
                text-transform: uppercase;
                border-radius: .2em;
                background-color: var(--download-cv-bg-color);
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
/* Media queries                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 850px)  {

    .home-section {
        .section-content {
            grid-template-columns: 1fr 1fr !important; 
            grid-template-rows: 50% 30% 20% !important;
            .deco-box {
                grid-column: 2 / 3;
                grid-row: 1 / 4;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .title-box {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .desc-box {
                grid-column: 1 / 2; 
                grid-row: 2 / 3;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .links-box {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                display: flex;
                justify-content: center;
                align-items: center;
                .download-cv {
                    padding: .8em;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    border-radius: .2em;
                    background-color: var(--download-cv-bg-color);
                }
            }
        }
    }
}
/* -------------------------------------------------------------------------- */