/* -------------------------------------------------------------------------- */
.home-section {
    height: calc(100dvh - var(--header-height)) !important;
    .section-content {
        height: 100%;
        display: flex;
        flex-wrap: wrap;        
        .panel-a {
            height: 50%; width: 100%;
            .photo-box {
                height: 100%; width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                img {
                    height: auto; width: auto;
                    outline: 6px solid #fff;
                    border: 6px solid transparent;
                    margin: 0 auto;
                }
            }
        }
        .panel-b {
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            justify-content: space-around;
            height: 50%; width: 100%;
            .title-box {
                h1 {
                    font-family:Georgia, 'Times New Roman', Times, serif;
                    font-size: 2rem;
                }
            }
            .desc-box {
                p {
                    font-size: 1.2rem;
                }
            }
            .links-box {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3rem;
                .download-cv {
                    padding: .8em;
                    text-transform: uppercase;
                    border-radius: .2em;
                    background-color: var(--download-cv-bg-color);
                }
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
/* Media queries                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 850px)  {

    .home-section {
        .section-content {
            .panel-a {
                order: 2;
                height: 100%; width: 50%;
                .photo-box {
                    img {
                    }
                }
            }
            .panel-b {
                order: 1;
                height: 100%; width: 50%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                .title-box {

                }
                .desc-box {

                }
                .links-box {

                }
            }
        }
    }
}
/* -------------------------------------------------------------------------- */