
<p>
    Más de 40 años de trayectoria en el sector financiero, con experiencia en arquitecturas de software, desarrollo de aplicaciones core bancarias y banca electrónica (Home Banking, Terminales de Autoservicio).
</p>
<p>
    Sólida experiencia en diseño de arquitecturas orientadas a servicios (SOA) y microservicios, así como en la gestión de infraestructuras (on-premise y cloud - AWS).
</p>
<p>
    Capacidad en la implementación de soluciones complejas y la optimización de procesos que impactan directamente en la eficiencia operativa y la experiencia del usuario. Liderazgo técnico y habilidades de coordinación de equipos para el desarrollo e implementación de sistemas críticos.
</p>