<div class="contact-panel-a">
    <p>Comunicate conmigo a través de Linkedin</p>
    <a href="https://www.linkedin.com/in/andresborrelli" target="_blank" rel="noopener noreferrer">www.linkedin.com/in/andresborrelli</a>
</div>

<div class="contact-panel-b">
    <form id="_contact-form" action="https://formspree.io/f/YOUR_FORM_ID" class="main-form contact-form" target="_top" method="POST">
        <div class="text-field">
            <p>
            O enviame tu mensaje a través de este formulario
            </p>
        </div>
        <div class="form-field">
            <label class="form-label" for="name">Tu nombre:</label>
            <input id="name" name="name" required class="form-input"  type="text" />
        </div>
        
        <div class="form-field">
            <label class="form-label" for="email">Tu correo electrónico</label>
            <input type="email" id="email" name="email" class="form-input" required />
        </div>

        <div class="form-field">
            <label class="form-label" for="message">Tu mensaje</label>
            <textarea id="message" name="message" class="form-textarea" required></textarea>
        </div>

        <div class="form-button-group">
            <button class="form-button send" type="submit">Enviar</button>
        </div>

    </form>
</div>