<section class="hard-skills-card">
    <h3 class="section-subtitle">Arquitectura y Diseño</h3>
    <ul>
        <li>Arquitecturas Orientadas a Servicios (SOA)</li>
        <li>Microservicios</li>
        <li>Diseño y Modelado (UML)</li>
        <li>APIs RESTful, SOAP</li>
    </ul>
</section>

<section class="hard-skills-card">
    <h3 class="section-subtitle">Desarrollo y Lenguajes</h3>
    <ul>
        <li>C# (Desktop y Web)</li>
        <li>JavaScript, React.js, HTML, CSS, SASS</li>
        <li>COBOL (CICS, COBOL/400)</li>
        <li>RPG/400</li>
    </ul>
</section>

<section class="hard-skills-card">
    <h3 class="section-subtitle">Bases de Datos</h3>
    <ul>
        <li>Microsoft SQL Server, Oracle, Sybase</li>
        <li>PostgreSQL (AWS AuroraDB)</li>
        <li>DB2, DB2/400</li>
    </ul>
</section>

<section class="hard-skills-card">
    <h3 class="section-subtitle">Gestión de Infraestructura</h3>
    <ul>
        <li>Instalaciones On-premise</li>
        <li>Cloud (AWS - EC2, S3, IAM, Aurora DB, etc.)</li>
        <li>Infraestructuras Híbridas</li>
    </ul>
</section>

<section class="hard-skills-card">
    <h3 class="section-subtitle">Metodologías y Herramientas</h3>
    <ul>
        <li>Metodologías Ágiles, UML, Git</li>
        <li>ClearQuest, ClearCase, SoapUI</li>
        <li>JMeter, Postman</li>
        <li>Visual Studio 2022, VSCode, Eclipse</li>
    </ul>
</section>