<div class="deco-box">
    <div class="photo-1-area">
        <img src="../../assets/images/andresborrelli3.png" alt="Andrés E. Borrelli">
    </div>
</div>

<div class="title-box">
    <h1>
        Transformando la banca: Liderazgo en software y arquitectura por más de 40 años.
    </h1>
</div>

<div class="desc-box">
    <p>
        Arquitectura de software, desarrollo de aplicaciones core bancarias y banca electrónica.
    </p>
</div>

<div class="links-box">
    <a href="../../download/CV-Andres-E-Borrelli.pdf" class="download-cv" title="Descargar CV">
        Descargar CV
    </a>
</div>