<div class="panel-a">
    <div class="photo-box">
        <img src="../../assets/images/andresborrelli3.png" alt="Andrés Borrelli, arquitecto de software con más de 40 años de experiencia.">
    </div>
</div>

<div class="panel-b">
    <div class="title-box">
        <h1>
            <i>Andrés Borrelli</i><br>
            <b>Desarrollador de software</b>
        </h1>
    </div>

    <div class="text-box">
        <p>
            Especializado en banca digital. Home Banking, TAS, Banca telefónica. Aquitecturas orientadas a servicios en la nube, on premise e híbridas.
        </p>
    </div>

    <div class="links-box">
        <a href="../../download/CV-Andres-E-Borrelli.pdf" class="download-cv" title="Descargar CV">
            Descargar CV
        </a>
    </div>
</div>