<div class="panel-a">
    <div class="photo-box">
        <img src="../../assets/images/andresborrelli3.png" alt="Andrés Borrelli, arquitecto de software con más de 40 años de experiencia.">
    </div>
</div>

<div class="panel-b">
    <h1>
        <span>Andrés E. Borrelli</span>
        <br>
        <span>Desarrollador de software</span>
    </h1>
    <p>
        Especializado en banca digital. Home Banking, TAS, Banca telefónica. Aquitecturas orientadas a servicios en la nube, on premise e híbridas.
    </p>
    <a class="download-cv" href="./assets/download/CV_Andres_E_Borrelli.pdf" title="Currículim vitae">Descargar C.V.</a>
</div>