<div class="section-content">
    
<section class="job-exp-card">
    <header class="job-exp-header">
        <h3 class="job-exp-title">Analista de Sistemas</h3>
        <h4 class="job-exp-employer">Banco Macro S.A.</h4>
        <p class="job-exp-location">Buenos Aires, Argentina</p>
        <p class="job-exp-period">2001 - 2024</p>
    </header>
    <ul>
        <li>Dirección del diseño y de la implementación de la arquitectura de servicios sobre el core bancario COBIS para las nuevas Terminales de Autoservicio Diebold (Vynamic View, TM) en un escenario híbrido (AWS / on premise).</li>
        <li>Participación activa en la customización, implementación y UAT del frontend de las nuevas TAS también en escenario híbrido (AWS - on premise).</li>
        <li>Dirección del diseño y construcción de la arquitectura de servicios del nuevo Home Banking del Banco (Technisys - Cyberbank) sobre el core bancario COBIS.</li>
        <li>Dirección del diseño y construcción del backend de las aplicaciones de Pago a Proveedores de Terceros y Pago de Sueldos de Terceros.</li>
        <li>Realización del diseño técnico y construcción del frontend de las aplicaciones de Pago a Proveedores de Terceros y Pago de Sueldos de Terceros.</li>
    </ul>
</section>

<section class="job-exp-card">
    <header class="job-exp-header">
        <h3 class="job-exp-title">Coordinador</h3>
        <h4 class="job-exp-employer">Banco Bansud S.A.</h4>
        <p class="job-exp-location">Buenos Aires, Argentina</p>
        <p class="job-exp-period">1995 - 2001</p>
    </header>
    <ul>
        <li>Dirección de la creación del área de Control de Cumplimiento de la Metodología, estandarizando los procesos del ciclo de vida de las aplicaciones.</li>
        <li>Dirección de la implementación de la herramienta de SCM adoptada por el Banco (SDM Implementer).</li>
        <li>Dirección del diseño e implementación de la metodología de desarrollo de la empresa incrementando la eficiencia en la construcción, pruebas e implementación.</li>
        <li>Dirección del área de programación interna del Banco, gestionando equipos y desarrollo de sistemas core y departamentales.</li>
    </ul>
</section>

<section class="job-exp-card">
    <header class="job-exp-header">
        <h3 class="job-exp-title">Líder de Proyecto</h3>
        <h4 class="job-exp-employer">Banco del Sud S.A.</h4>
        <p class="job-exp-location">Buenos Aires, Argentina</p>
        <p class="job-exp-period">1993 - 1994</p>
    </header>
    <ul>
        <li>Responsable de la customización, construcción e implementación del módulo de Clientes del core bancario (SIAF).</li>
    </ul>
</section>

<section class="job-exp-card">
    <header class="job-exp-header">
        <h3 class="job-exp-title">Jefe de Desarrollo</h3>
        <h4 class="job-exp-employer">Serviplus Software House S.A.</h4>
        <p class="job-exp-location">Buenos Aires, Argentina</p>
        <p class="job-exp-period">1989 - 1993</p>
    </header>
    <ul>
        <li>Dirección del diseño técnico y construcción del core bancario C&B para AS/400 desarrollado para Chase Manhattan Bank.</li>
        <li>Mantenimiento de sistemas bancarios para clientes como Lloyds Bank, Chase Manhattan Bank, Exprinter Cia. Financiera, Banco Mariva desarrolladas en diversas plataformas (main frame, AS/400, PC).</li>
    </ul>
</section>

<section class="job-exp-card">
    <header class="job-exp-header">
        <h3 class="job-exp-title">Analista/Programador</h3>
        <h4 class="job-exp-employer">Elaco S.A. (Exprinter Cía. Financiera)</h4>
        <p class="job-exp-location">Buenos Aires, Argentina</p>
        <p class="job-exp-period">1988 - 1989</p>
    </header>
    <ul>
        <li>Construcción y mantenimiento de sistemas departamentales (IBM S/36, PC).</li>
    </ul>
</section>

<section class="job-exp-card">
    <header class="job-exp-header">
        <h3 class="job-exp-title">Responsable de Desarrollo</h3>
        <h4 class="job-exp-employer">Banco del Iguazú S.A.</h4>
        <p class="job-exp-location">Buenos Aires, Argentina</p>
        <p class="job-exp-period">1984 - 1988</p>
    </header>
    <ul>
        <li>Construcción y mantenimiento de sistemas departamentales.</li>
    </ul>
</section>

<section class="job-exp-card">
    <header class="job-exp-header">
        <h3 class="job-exp-title">Analista/Programador</h3>
        <h4 class="job-exp-employer">Wells Fargo Bank N.A.</h4>
        <p class="job-exp-location">Buenos Aires, Argentina</p>
        <p class="job-exp-period">1980 - 1984</p>
    </header>
    <ul>
        <li>Desarrollo y mantenimiento de aplicaciones bancarias en COBOL (IBM S/34).</li>
    </ul>
</section>

<section class="job-exp-card">
    <header class="job-exp-header">
        <h3 class="job-exp-title">Analista de Sistemas</h3>
        <h4 class="job-exp-employer">Banco Oddone S.A.</h4>
        <p class="job-exp-location">Buenos Aires, Argentina</p>
        <p class="job-exp-period">1980 - 1980</p>
    </header>
    <ul>
        <li>Mantenimiento de aplicaciones bancarias.</li>
    </ul>
</section>

<section class="job-exp-card">
    <header class="job-exp-header">
        <h3 class="job-exp-title">Programador</h3>
        <h4 class="job-exp-employer">Banco Español del Río de la Plata Ltdo.</h4>
        <p class="job-exp-location">Buenos Aires, Argentina</p>
        <p class="job-exp-period">1976 - 1979</p>
    </header>
    <ul>
        <li>Mantenimiento de aplicaciones en COBOL - DOS.</li>
    </ul>
</section>