/* -------------------------------------------------------------------------- */
#_prof-exp-section .section-content {
  display: flex;
  flex-flow: column nowrap;
}
#_prof-exp-section .section-content div ul {
  padding: 1rem 0 0 2rem;
  list-style-type: circle;
}

/* -------------------------------------------------------------------------- */