@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

/* -------------------------------------------------------------------------- */
/* L A Y O U T   P R I N C I P A L                                            */
/* -------------------------------------------------------------------------- */
html {
    font-family: Comfortaa, sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.6;
    color: var(--main-font-color);
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4 {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 100;
}
/* -------------------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
    background-color: var(--main-bg-color);
}
/* -------------------------------------------------------------------------- */
main {
    min-height: 100dvh;
    width: 100%;
    .main-section {
        display: block;
        height: 100dvh; min-height: 100dvh; 
        width: 100%;
        padding: 4rem 0.5rem 0.5rem 0.5rem;
        .section-title {
            font-family: Poppins;
            font-size: 1.3rem;
            font-weight: 100;
            line-height: 3rem;
            color: var(--section-title-color);
        }
        .section-subtitle {
            font-family: Poppins;
            font-size: 1.1rem;
            font-weight: 100;
            line-height: 1.6rem;
            color: var(--section-subtitle-color);
        }
        .section-content-title {
            font-family: Poppins;
            font-size: 1rem;
            font-weight: 100;
            line-height: 1.4rem;
            color: var(--section-content-title-color);
        }
        &.placeholder {
            .loader {
                display: inline-block; 
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
.main-nav {
    position: fixed;
    display: block; 
    height: 3rem; width: 100%;
    background-color: var(--main-nav-bg-color);
    padding: .5rem;
    z-index: 99;
    .logo-link {
        display: block;
        height: 100%;
        img {
            height: 100%; width: auto;
            border-radius: 6px;
        }
    }
    .main-nav-button {
        display: none;
        &:checked + label:before {
            content: '\2715';
        }
        &:checked ~ ul {
            left: 0px;
        }
    }
    .main-nav-button-label {
        position: absolute;
        top: 0px; right: .5rem;
        &:before {
            content: '\2630';
            font-size: 1.6rem;
            line-height: 3rem;
            color: var(--main-nav-color);
            cursor: pointer;
        }
        &:hover {
            color: var(common-hover-color);
        }
    }
    ul {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        position: absolute;
        height: calc(100dvh - 3rem); width: 100%;
        top: 3rem; left: 101%;
        padding: 1rem;
        list-style-type: none;
        transition: 250ms ease;
        background-color: var(--main-nav-bg-color);
        z-index: 9999;
        li {
            align-self: flex-end;
            a {
                font-size: 1.2rem;
                &:hover {
                    color: var(--common-hover-color);
                }
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
.main-form {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    .form-field {
        display: block;
        width: 100%;
        .form-label {
            display: block;
            width: 100%;
            line-height: 2rem;
        }
        .form-input, .form-textarea {
            width: 100%;
            border: 1px solid var(--main-fon-color);
            border-radius: .3rem;
            padding: .3rem;
        }
    }
    .form-button-group {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .form-button {
            font-size: 1rem;
            line-height: 1.8rem;
            padding: .3rem;
            border-radius: .3rem;
            background-color: transparent;
        }
    }
}
/* -------------------------------------------------------------------------- */
.loader {
    display: none;
    height: 48px; width: 48px;
    border: 5px solid var(--loader-color-1);
    border-bottom-color: var(--loader-color-2);
    border-radius: 50%;
    animation: rotation 500ms linear infinite;
    margin: calc(75dvh - 248px) 0 0 calc(50% - 24px);
    z-index: 99;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
/* -------------------------------------------------------------------------- */
@media (min-width: 768px) {

    .main-nav {
        display: flex;
        .main-nav-button-label {
            display: none;
        }
        ul {
            position: relative;
            flex-flow: row nowrap;
            justify-content:right;
            align-items: right;
            flex-grow:1;
            flex-basis:1fr 1;
            height: 100%; width: auto;
            top: unset; left: unset;
            li {
                align-self: center;
                a {
                    font-size: .9rem;
                    text-transform: capitalize;
                    color: var(--main-nav-color);
                }
            }
        }
    }

}
/* -------------------------------------------------------------------------- */
