/* -------------------------------------------------------------------------- */
/* T I P O G R A F I A                                                        */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* -------------------------------------------------------------------------- */

html {
    font-family: Comfortaa;
    font-size: 16px;
    line-height: 1.1rem;
    -webkit-font-smoothing: antialiased;
}

/* Mobile chico */

@media (min-width: 481px) {
  html {
    font-size: 14px;
  }
}

/* Tablet chica */

@media (min-width: 601px) {
  html {
    font-size: 18px;
  }
}

/* Tablet grande */

  @media (min-width: 769px) {
  html {
    font-size: 18px;
  }
}

/* Desktop y Laptop chicos */

@media (min-width: 1025px) {
  html {
    font-size: 20px; 
  }
}

/* Monitores Grandes */
@media (min-width: 1281px) {
  html {
    font-size: 21px; 
  }
}

/* Pantallas Extra Grandes */
@media (min-width: 1441px) {
  html {
    font-size: 22px; 
  }
}