
#_about-me-section {
    h2 {
        color: green !important;
    }
    .section-content {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        padding-top: 1rem;
    }
}
