/* -------------------------------------------------------------------------- */
#_hard-skills-section {
    .section-content {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        .hard-skills-card {
            flex-grow:1;
            flex-basis:100%;
            h3 {
                color: var(--section-subtitle-color);
            }
            ul {
                list-style-type: circle;
                padding: 1rem;
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
@media (min-width: 768px) {
    #_hard-skills-section {
        .section-content {
            
            .hard-skills-card {
                flex-grow:0;
                flex-basis: 48%;
                flex-shrink: 1;
            }
        }
    }
}
/* -------------------------------------------------------------------------- */