/* -------------------------------------------------------------------------- */
#_home-section {
    position: relative;
    .section-content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 15% 30% 15%;
        gap: .5rem;
        height: calc(100dvh - 4rem); 
        width: 100%;
        .deco-panel {
            position: relative;
            .photo-area {
                height: 100%;
                img {
                    height: 100%;
                    margin: 0 auto;
                }
            }
            .misc-area {
                position:absolute;
                bottom: 0px; right: 0px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                gap: .5rem;
                padding: .3rem;
                a {
                    display: flex;
                    align-items: center;
                    padding: 0 1rem;
                    font-size: .6rem;
                    border: 1px solid white; border-radius: .3rem;
                    background-color: rgb(255, 255, 255, .5);
                    span {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .name-panel {
            display: flex;
            flex-direction: column; 
            justify-content: center; 
            align-items: flex-start; 
            h1 {
                font-size: 1.4rem;
                color: var(--striking-font-color);
            }
            h2 {
                font-size: 1.6rem;
            }
        }
        .text-panel {

        }

        .links-panel {
            display: flex;
            justify-content: center; 
            align-items: center;    
            .download-cv-button {
                padding: .5rem;
                background-color: greenyellow;
                border: 0; border-radius: .3rem;
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
@media (min-width: 768px) {
    #_home-section {
        .section-content {
            grid-template-columns: 50% 50%;
            grid-template-rows: 60% 30% 10%;
            .deco-panel {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
            .name-panel {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            .text-panel {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                justify-content: flex-start; 
                align-items: flex-start; 
            }

            .links-panel {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }
        }
    }
}
/* -------------------------------------------------------------------------- */