/* -------------------------------------------------------------------------- */
#_home-section {
    position: relative;
    .section-content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 20% 30% 10%;
        gap: .5rem;
        height: 100%; width: 100%;
        .deco-panel {
            position: relative;
            .photo-area {
                height: 100%;
                img {
                    height: 100%; 
                }
            }
            .misc-area {
                position:absolute;
                bottom: 0px; right: 0px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                gap: .5rem;
                padding: .5rem;
                a {
                    padding: .2rem;
                    border: 1px solid white; border-radius: .2rem;
                    background-color: rgb(255, 255, 255, .5);
                }
            }
        }
        .name-panel {
            display: flex;
            flex-direction: column; 
            justify-content: center; 
            align-items: flex-start; 
    
            h1 {
                font-size: 1.8rem;
                line-height: 2.2rem;
                            }
            h2 {
                font-size: 2rem;
                color: red;
            }
        }
        .text-panel {

        }

        .links-panel {
            display: flex;
            justify-content: center; 
            align-items: center;    
            .download-cv-button {
                padding: .5rem;
                background-color: greenyellow;
                border: 0; border-radius: .3rem;
            }
        }
    }
}
/* -------------------------------------------------------------------------- */