/* -------------------------------------------------------------------------- */
#_prof-exp-section {
    .section-content {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        .job-exp-card {
            .job-exp-header {
                
            }
            ul {
                list-style-type: circle;
                padding-left: 1rem;
            }
        }
    }
}
/* -------------------------------------------------------------------------- */