/* ---------------------------------------------------------------------------*/
:root {

    --color-a: rgb(239, 222, 202); // soft ocre
    --color-b: rgb(217, 206, 188); // clay beige
    --color-c: rgb(213, 194, 164); // sandstone
    --color-d: rgb(190, 185, 163); // clay
    --color-e: rgb(121, 85, 71); // brown
    --color-f: rgb(77, 52, 47); // deep brown

    --color-y: rgb(243, 243, 243);  // white
    --color-yy: rgb(256, 256, 256);  // white
    --color-z: rgb(44, 44, 44); // black
    --color-zz: rgb(0, 0, 0); // black

    --pf-color-a: #BEB9A3;
    --pf-color-b: #F9F9F9;
    --pf-color-c: #0F0F0F;

    --menu-bg-color: brown;
    --menu-color: white;

    --font-a: Poppins, Arial, Helvetica, sans-serif;
    --font-b: Comfortaa, Arial, Helvetica, sans-serif;
}
/* ---------------------------------------------------------------------------*/