/* ---------------------------------------------------------------------------*/
:root {

    --bg-color-a: #BEB9A3;
    --bg-color-b: #F9F9F9;

    --menu-bg-color: brown;
    --menu-color: white;

    --base-font: Poppins, Arial, Helvetica, sans-serif;
    --title-font: Comfortaa, Arial, Helvetica, sans-serif;
}
/* ---------------------------------------------------------------------------*/