/* -------------------------------------------------------------------------- */
/* LAYOUT DE LA SECCION EXPERIENCIA LABORAL                                   */
/* -------------------------------------------------------------------------- */
.job-exp-section {
    .section-content {
        display: flex; flex-direction: column; justify-content: flex-start; gap: 1rem;
        .job-exp-card {
            width: 100%;
            .job-exp-header {
                padding-bottom: .5rem;
                .job-exp-title {
                    padding: .5rem 0 .5rem 0;
                }
                .job-exp-employer {
                    line-height: 2rem;
                }
            }
            .job-description-intro {
                padding-bottom: .5rem;
            }
            ul li {
                padding-bottom: .5rem;
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    .job-exp-section {
    }
}
/* -------------------------------------------------------------------------- */