/* -------------------------------------------------------------------------- */
/*   R E S E T S                                                              */
/* -------------------------------------------------------------------------- */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px; padding: 0px; outline: 0px;
}

body {
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style: none;
}

input, button, textarea, select {
  font: inherit;
}

img, picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:visited, &:active {
    text-decoration: none;
  }
}
/* -------------------------------------------------------------------------- */
