/* -------------------------------------------------------------------------- */
.contact-section .section-content {
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
}
.contact-section .section-content .contact-panel-a {
  flex: 1 1 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #7d7d7d;
  padding: 0.8rem;
  border-radius: 0.6rem;
}
.contact-section .section-content .contact-panel-a p, .contact-section .section-content .contact-panel-a a {
  color: #f0f0f0;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.contact-section .section-content .contact-panel-b {
  flex: 1 1 70%;
  padding: 0;
}
/* -------------------------------------------------------------------------- */
/* Media queries                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .contact-section .section-content {
    flex-flow: row nowrap;
    align-items: stretch;
    align-content: stretch;
  }
  .contact-section .section-content .contact-panel-a {
    flex-grow: 1;
  }
  .contact-section .section-content .contact-panel-b {
    flex-grow: 1;
  }
}
/* -------------------------------------------------------------------------- */