/* -------------------------------------------------------------------------- */
.contact-section .section-content {
  display: flex;
  flex-direction: column;
}

/* -------------------------------------------------------------------------- */
/* Media queries                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .contact-section {
    width: 100%;
  }
  .contact-section .section-content {
    max-width: 800px !important;
    margin: 0 auto;
  }
  .contact-section .section-content .text-panel {
    padding: 1.4em 0;
  }
  .contact-section .section-content .text-panel p {
    font-size: 1.2em;
  }
  .contact-section .section-content .contact-form .form-textarea {
    height: 10em;
  }
}
/* -------------------------------------------------------------------------- */