/* -------------------------------------------------------------------------- */
.contact-section {
  min-height: calc(100dvh - var(--header-height));
}
.contact-section .section-content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.contact-section .section-content .contact-panel-a {
  flex: 30% 1 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 6px;
  background-color: #84837F;
}
.contact-section .section-content .contact-panel-a p {
  color: #f0f0f0;
  font-size: 1.4rem;
  line-height: 3rem;
}
.contact-section .section-content .contact-panel-a a {
  color: #fff;
  font-size: 1.6rem;
  line-height: 3.2rem;
}
.contact-section .section-content .contact-panel-b {
  flex: 70% 1 1;
}
.contact-section .section-content .contact-panel-b .form-textarea {
  height: 6rem;
}
.contact-section .section-content .contact-panel-b .text-field {
  font-size: 1.6rem;
  padding: 2rem 0;
}

/* -------------------------------------------------------------------------- */
/* Media queries                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 850px) {
  .contact-section .section-content {
    flex-flow: row nowrap;
  }
  .contact-section .section-content .contact-panel-a {
    flex: 50% 1 1;
  }
  .contact-section .section-content .contact-panel-b {
    flex: 50% 1 1;
  }
}
/* -------------------------------------------------------------------------- */