/* -------------------------------------------------------------------------- */
.home-section .section-content {
  height: calc(100dvh - var(--header-height) * 2);
  display: flex;
  flex-wrap: wrap;
}
.home-section .section-content .panel-a {
  display: block;
  height: 50%;
  width: 100%;
}
.home-section .section-content .panel-a .photo-box {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.home-section .section-content .panel-a .photo-box img {
  height: 90%;
  margin: auto;
  border: 6px solid #fff;
}
.home-section .section-content .panel-b {
  display: block;
  height: 50%;
  width: 100%;
}
.home-section .section-content .panel-b .title-box {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.home-section .section-content .panel-b .title-box h1 .title-prof {
  font-weight: 200;
}
.home-section .section-content .panel-b .text-box {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.home-section .section-content .panel-b .text-box p {
  text-align: center;
  font-size: 1.4em;
}
.home-section .section-content .panel-b .links-box {
  height: 45%;
}
.home-section .section-content .panel-b .links-box .download-cv-box {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section .section-content .panel-b .links-box .download-cv-box .download-cv {
  color: #f0f0f0;
  font-size: 1.2em;
  background-color: #3D84A8;
  border: 1px solid #f0f0f0;
  border-radius: 0.3em;
  padding: 0.5em 0.7em;
}
.home-section .section-content .panel-b .links-box .download-cv-box .download-cv:hover {
  color: #fff;
}
.home-section .section-content .panel-b .links-box .other-links-box {
  height: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
.home-section .section-content .panel-b .links-box .other-links-box a {
  display: flex;
  align-items: center;
  font-size: 1.4em;
}
.home-section .section-content .panel-b .links-box .other-links-box a svg {
  height: 24px;
  color: #3D84A8;
}
.home-section .section-content .panel-b .links-box .other-links-box a:nth-child(2) span:nth-child(1) {
  font-size: 1.2em;
  color: #ff4500;
}

/* -------------------------------------------------------------------------- */
/* Media queries                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .home-section .section-content .panel-a {
    order: 2;
    height: 100%;
    width: 50%;
  }
  .home-section .section-content .panel-b {
    order: 1;
    height: 100%;
    width: 50%;
  }
  .home-section .section-content .panel-b .text-box p {
    font-size: 1em;
  }
}
/* -------------------------------------------------------------------------- */