/* -------------------------------------------------------------------------- */
.home-section {
  height: calc(100dvh - var(--header-height)) !important;
}
.home-section .section-content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.home-section .section-content .panel-a {
  height: 50%;
  width: 100%;
}
.home-section .section-content .panel-a .photo-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-section .section-content .panel-a .photo-box img {
  height: auto;
  width: auto;
  outline: 6px solid #fff;
  border: 6px solid transparent;
  margin: 0 auto;
}
.home-section .section-content .panel-b {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-around;
  height: 50%;
  width: 100%;
}
.home-section .section-content .panel-b .title-box h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
}
.home-section .section-content .panel-b .desc-box p {
  font-size: 1.2rem;
}
.home-section .section-content .panel-b .links-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.home-section .section-content .panel-b .links-box .download-cv {
  padding: 0.8em;
  text-transform: uppercase;
  border-radius: 0.2em;
  background-color: var(--download-cv-bg-color);
}

/* -------------------------------------------------------------------------- */
/* Media queries                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 850px) {
  .home-section .section-content .panel-a {
    order: 2;
    height: 100%;
    width: 50%;
  }
  .home-section .section-content .panel-b {
    order: 1;
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}
/* -------------------------------------------------------------------------- */