@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/*   R E S E T S                                                              */
/* -------------------------------------------------------------------------- */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
ul, ol, li,
p, figure, blockquote,
dl, dd {
  margin: 0;
  padding: 0;
  outline: 0;
}

ul, ol {
  list-style: none;
}

input, button, textarea, select {
  font: inherit;
}

img, picture {
  max-width: 100%;
  display: block;
}

a {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  color: inherit;
}
a:visited, a:active {
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
:root {
  --loader-color-1: #76634E;
  --loader-color-2: #C3BBB1;
  --header-height: 4rem;
  --nav-font-color: #2c2c2c;
  --nav-item-bg-color: #EDE6D9;
  --main-font-color: #000;
  --main-bg-color: #F7F4F2;
  --main-font-size: 1.2rem;
  --footer-font-color: #f0f0f0;
  --footer-bg-color: #2c2c2c;
  --download-cv-bg-color: #EDE6D9;
  --common-hover-color: #ff4500;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
html {
  font-size: clamp(14px, 2dvw, 24px);
  line-height: 1.6;
  color: var(--main-font-color);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background-color: var(--main-bg-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--titles-color);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

/* -------------------------------------------------------------------------- */
.loader {
  display: block;
  height: 48px;
  width: 48px;
  border: 5px solid var(--loader-color-1);
  border-bottom-color: var(--loader-color-2);
  border-radius: 50%;
  margin: calc(50dvh - 24px) auto;
  animation: rotation 750ms linear infinite;
  z-index: 9;
}

/* -------------------------------------------------------------------------- */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* -------------------------------------------------------------------------- */
.main-header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: var(--header-height);
  width: 100%;
  background-color: var(--main-bg-color);
}
.main-header .logo-link {
  display: inline-block;
  padding-left: 1rem;
}
.main-header .logo-link h2 {
  line-height: var(--header-height);
  font-size: 1.8rem;
  font-weight: 100;
}
.main-header .main-nav-button {
  display: none;
}
.main-header .main-nav-button:checked + label:before {
  content: "✕";
}
.main-header .main-nav-button:checked ~ .main-nav {
  height: 100dvh;
  background-color: var(--main-bg-color);
  z-index: 9999;
}
.main-header .main-nav-button-label {
  display: block;
  height: 100%;
  float: right;
  padding-right: 1rem;
}
.main-header .main-nav-button-label:before {
  content: "☰";
  font-size: 1.8rem;
  color: var(--main-nav-color);
  line-height: var(--header-height);
  cursor: pointer;
}
.main-header .main-nav-button-label:hover:before {
  color: var(--common-hover-color);
}
.main-header .main-nav {
  display: block;
  height: 0px;
  width: 100%;
  overflow: hidden;
  transition: 250ms ease;
}
.main-header .main-nav ul {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding-top: 2rem;
}
.main-header .main-nav ul li a {
  font-size: 1.4rem;
  padding: 2.2rem;
}

/* -------------------------------------------------------------------------- */
.main-content .main-section {
  min-height: 100dvh;
  padding-top: var(--header-height);
}
.main-content .main-section .section-title {
  padding-left: 1rem;
  border-top: 1px solid black;
}
.main-content .main-section .section-content {
  padding: 1rem;
}

/* -------------------------------------------------------------------------- */
.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: var(--footer-bg-color);
  padding: 1rem;
}
.main-footer * {
  color: var(--footer-font-color);
}
.main-footer .copy-r {
  flex-basis: 100%;
  flex-grow: 1;
}
.main-footer .copy-r a {
  display: block;
  height: 24px;
}
.main-footer .footer-nav {
  flex-basis: 100%;
  flex-grow: 1;
}
.main-footer .footer-nav ul li a:before {
  content: "- ";
}
.main-footer .cookies-note {
  flex-basis: 100%;
  flex-grow: 1;
  margin-top: 2rem;
}
.main-footer .cookies-note p {
  font-size: 0.6;
}

/* -------------------------------------------------------------------------- */
.contact-form .form-field {
  padding-bottom: 1rem;
}
.contact-form .form-field .form-label {
  display: block;
}
.contact-form .form-field .form-input, .contact-form .form-field .form-textarea {
  display: block;
  width: 100%;
  border: 1px solid var(--main-font-color);
  border-radius: 6px;
  padding: 0.8rem;
}
.contact-form .form-field .form-textarea {
  resize: vertical;
}
.contact-form .form-button-group {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

/* -------------------------------------------------------------------------- */
/* Media queries                                                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 850px) {
  html {
    font-weight: 100;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
  }
  .main-header {
    display: flex;
  }
  .main-header .main-nav-button-label {
    display: none;
  }
  .main-header .main-nav {
    height: var(--header-height);
    display: inline-block;
  }
  .main-header .main-nav ul {
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 0 1rem 0 0;
  }
  .main-header .main-nav ul li a {
    font-size: 0.8rem;
    line-height: var(--header-height);
    text-transform: uppercase;
    padding: 0px;
  }
  .main-footer .copy-r {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .main-footer .footer-nav {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .main-footer .footer-nav ul {
    text-align: right;
  }
  .main-footer .footer-nav ul li a:before {
    content: "";
  }
  .main-footer .footer-nav ul li a:after {
    content: " -";
  }
}
/* -------------------------------------------------------------------------- */