@charset "UTF-8";
/* -------------------------------------------------------------------------- */
.job-exp-section {
  width: 100%;
}
.job-exp-section .section-content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.8rem;
}
.job-exp-section .section-content .job-exp-card {
  border-top: 1px solid #0c0c0c;
}
.job-exp-section .section-content .job-exp-card .job-exp-title {
  padding-top: 0.4em;
  font-weight: 400;
}
.job-exp-section .section-content .job-exp-card .job-exp-employer {
  font-weight: 400;
}
.job-exp-section .section-content .job-exp-card ul {
  padding: 0.4em;
  list-style-type: "-";
}
.job-exp-section .section-content .job-exp-card ul li {
  padding: 0.4rem;
}

/* -------------------------------------------------------------------------- */
/* Media queries 
/* -------------------------------------------------------------------------- */
/* Móviles landscape y deskptop */
@media only screen and (min-width: 768px), (max-width: 900px) and (orientation: landscape) {
  .job-exp-section {
    max-width: 800px !important;
    width: 100%;
  }
}
/* -------------------------------------------------------------------------- */